.Auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    form {
        display: flex;
        flex-direction: column;
        width: 270px;

        .wrong_auth {
            color: rgba(241, 40, 40, 0.9);
            margin-bottom: 8px;
        }

        input {
            margin-bottom: 16px;
            width: 100%;
            height: 28px;
            box-sizing: border-box;
        }

        button {
            height: 34px;
            width: 100%;
            margin-top: 8px;
            box-sizing: border-box;
            background-color: rgba(47, 137, 221, 0.3);
            border: 1px solid rgba(47, 137, 221, 0.6);

            &:hover {
                cursor: pointer;
            }
        }
    }
}