.Article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    div {
        width: 60%;

        .profile_link {
            text-decoration-color: rgb(47, 137, 221);
        }

        span {
            color: rgba(0, 0, 0, 0.3);
            font-size: 14px;
    
            &:first-child {
                color: rgb(47, 137, 221);
            }
        }
    
        article {
            padding: 14px;
            border: 1px solid rgba(47, 137, 221, 0.3);
            border-radius: 4px;
            margin-top: 5px;
        }
    }
}